<<<<<<< HEAD
<%- include('./partials/db_header') %>
<%- include('./partials/db_sidebar') %>

<div class="main">

    <nav style="display: flex; justify-content: space-between; background-color: blue;">
        <button id="admin-userslist-button" style="border: none; background-color: transparent;color: aliceblue; font-weight: bolder; margin: 20px;">Users</button>
        <button id="admin-roomslist-button" style="border: none; background-color: transparent;color: aliceblue; font-weight: bolder; margin: 20px;">Rooms</button>
        <button id="admin-announcements" style="border: none; background-color: transparent;color: aliceblue; font-weight: bolder; margin: 20px;">Announcements</button>
    </nav>

    <div id="admin-content" style="width: 100%; text-align: center;margin: 50px;">
        <h1>Welcome to your console, <span style="color:red;font-weight: bolder;">Admin.</span></h1><hr>
        <h2>You may freely alter the fabrics of the universe <br> with the help of the <span style="color: rgb(0, 110, 73); font-weight: bolder;">buttons</span> above.</h2>
    </div>

    <div style="width: 100%; text-align: center;">
        <img src="/images/Learnen.svg" alt="learnen" style="height: 50px;">
    </div>



</div>
<script>
    const usersButton = document.getElementById('admin-userslist-button');
    const roomsButton = document.getElementById('admin-roomslist-button');
    const adminAnnouncements = document.getElementById('admin-announcements');
    const adminContent = document.getElementById('admin-content');

    usersButton.addEventListener('click', function() {

        adminContent.innerHTML = 'users';

        
    });
    roomsButton.addEventListener('click', function() {

    adminContent.innerHTML = 'rooms';


    });
    adminAnnouncements.addEventListener('click', function() {

    adminContent.innerHTML = 'announcements';


    });

    

</script>

=======
<%- include('./partials/db_header') %>
<%- include('./partials/db_sidebar') %>

<div class="main" style="text-align: center;">
    <div >
        <nav class="admin-navbar" style="display: flex; justify-content: space-between; background-color: #006c81;">
            <button id="users-btn" style="border: none; background-color: transparent; font-weight: bolder; margin: 20px;">Users</button>
            <button id="rooms-btn" style="border: none; background-color: transparent; font-weight: bolder; margin: 20px;">Rooms</button>
            <button id="announcements-btn" style="border: none; background-color: transparent; font-weight: bolder; margin: 20px;">Announcements</button>
        </nav>
    </div>

    <div id="admin-content" style="width: 100%; text-align: center;margin: 50px;">
        
        <div id="admin-instructions">
        <h1>Welcome to your console, <span style="color:red;font-weight: bolder;">Admin.</span></h1><hr>
        <h2>You may freely alter the fabrics of the universe <br> with the help of the <span style="color: rgb(0, 110, 73); font-weight: bolder;">buttons</span> above.</h2>
        </div>

        <section id="users-section" class="section hidden" >
            <nav style="width: 75%; margin: 20px;">

                <div class="container-fluid">
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search Users..." aria-label="Search" style="background-color: #e9edc9;border: 2px solid #ccd5ae;">
                    <button class="btn btn-outline-primary" style="background-color: #023047;" type="submit">Search</button>
                  </form>
                </div>
          
            </nav>
            <div style="overflow-y: scroll;max-height: 400px;width: 100%;display: flex;flex-direction: column;align-items: center;">
                <%- include ('./partials/userslist') %>
            </div>
        </section>

        <section id="rooms-section" class="section hidden">
            <nav style="width: 75%; margin: 20px;">

                <div class="container-fluid">
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search Rooms..." aria-label="Search" style="background-color: #e9edc9;border: 2px solid #ccd5ae;">
                    <button class="btn btn-outline-primary" style="background-color: #023047;" type="submit">Search</button>
                  </form>
                </div>
          
            </nav>
            <div style="overflow-y: scroll; max-height: 500px; margin: 10px;width: 100%;">
                <%- include ('./partials/roomslist') %>
            </div>
        </section>

        <section id="announcements-section" class="section hidden">
        </section>

    </div>

    <div style="width: 100%; text-align: center;bottom: 20px;position: fixed;">
        <img src="/images/Learnen.svg" alt="learnen" style="height: 60px;">
    </div>
</div>
<script>    
        const icon = document.querySelector('.icon');
        const dropdown = icon.nextElementSibling;

        icon.addEventListener('click', function() {
        dropdown.classList.toggle('show');
        });
</script>

>>>>>>> 25f40cb4932fb0698e6a5e25332416001d1b9cc2
<%- include('./partials/db_footer') %>