
<%- include('./partials/db_header') -%>  
<%- include('./partials/db_sidebar') -%>
<div class="main">

  <div style="width: 100%; display: flex; justify-content: center;">

    <nav style="width: 75%; margin: 20px;">

      <div class="container-fluid">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search Tags..." aria-label="Search" style="background-color: #e9edc9;border: 2px solid #ccd5ae;">
          <button class="btn btn-outline-primary" style="background-color: #023047;" type="submit">Search</button>
        </form>
      </div>

    </nav>

  </div>

  <div style="width: 100%; text-align: center;margin: 50px;">

    <div class="card-grid" style="width:100%;">
      <% rooms.forEach(room => { %>
  
        <div class="card" style="width: 18rem; margin: 10px;">
          <img src="/images/lotus.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= room.title %></h5>
            <p class="card-text"><%= room.description %></p>
            <a href="/join/<%= room._id %>" class="btn btn-primary">Enter Room</a>
          </div>
        </div>
        
      <% }); %>
    </div>

  </div>

</div>
<%- include('./partials/db_footer') -%>
